<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
      table,
      td,
      th{
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #bcbcbc;
        padding: 5px 10px;
      }
      table{
        margin-top: 30px;
      }
    </style>
    <script src="vue.min.js"></script>
</head>
<body>
    <div id="app">
      <component></component>
    </div>

    <div id="app2">
      <table>
        <tr>
          <th colspan="3">
            父组件数据
          </th>
        </tr>
        <tr>
          <td>name</td>
          <td>{{ name }}</td>
          <td><input type="text" v-model='name' /></td>
        </tr>
        <tr>
          <td>age</td>
          <td>{{ age }}</td>
          <td><input type="text" v-model='age' /></td
        </tr>
      </table>

      <my-component v-bind:my-name='name' v-bind:my-age='age'></my-component>
    </div>

    <template id="myComponent">
      <table>
        <tr>
          <th colspan="3">
            子组件数据
          </th>
        </tr>
        <tr>
          <td>my name</td>
          <td>{{ myName }}</td>
          <td><input type="text" v-model='myName' /></td>
        </tr>
        <tr>
          <td>my age</td>
          <td>{{ myAge }}</td>
          <td><input type="text" v-model='myAge' /></td
        </tr>
      </table>
    </template>

    <script>
      // 创建一个组件构造器
      var component = Vue.extend({
        template : '<div>This is my first component.</div>'
      });
      // 注册组件，并指定组件的标签，组件的标签为<my-component></my-component>
      Vue.component('component', component);
      new Vue({
        el : '#app'
      });

      var vm = new Vue({
        el : '#app2',
        data :  {
          name : 'haha',
          age : 20
        },
        components : {
          'my-component' : {
            template : '#myComponent',
            props : ['myName', 'myAge']
          }
        }
      })
    </script>
</body>
</html>
